<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecretAccessKey</key>
	<string>0669fbe527bd0de04af64773383ea011bce03525369002e424e4a16959118987</string>
	<key>AccessKeyId</key>
	<string>6a27b612155c5bde7051f10c5546dd98</string>
</dict>
</plist>
